/***************************** fonts  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* @import url('../public/img/parallax_blue.png'); */

/***************************** reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  color: inherit;
  text-decoration: none;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

/***************************** common */
html,
body {
  background: #313131;
  overflow-x: hidden;
}

/***************************** color */
:root {
  --orange: #e8ba4d;
  --red: #a8393f;
}

/***************************** wrap */
.wrap {
  width: 1100px;
  margin: 0 auto;
}

/***************************** title */

.title {
  color: var(--orange);
  font-size: 22px;
  font-weight: 700;
}

.sub_title {
  padding: 40px 0;
  color: #313131;
  font-size: 34px;
  font-weight: 700;
}

/***************************** btn */
.section_more_btn {
  display: inline-block;
  margin-top: 40px;
}

.section_more_btn .btn_wrap {
  display: block;
  width: 100%;
  border-radius: 50px;
  background: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.section_more_btn .btn_wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  left: -180px;
  z-index: -1;
  transition: .5s cubic-bezier(.55, .3, 0, .99);
}

.section_more_btn .btn_wrap:hover:after {
  left: 180px;
}

.section_more_btn .btn_wrap p {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
  color: 313131;
}

.section_more_btn .btn_wrap p .plus {
  padding-left: 50px;
}

/***************************** header */
header {
  position: fixed;
  width: 100%;
  height: 80px;
  right: 100px;
  z-index: 9999;
}

header .wrap {
  width: 100%;
}

header .gnb {
  float: right;
  padding: 28px 0;
}

header .gnb a {
  float: left;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

header .gnb a:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 5px;
  border-radius: 6px;
  background: var(--red);
  transition: all 0.3s;
}

header .gnb a:hover {
  color: var(--orange);
}

header .gnb a:hover:after {
  width: 6px;
  height: 6px;
}


header .gnb a.active {
  color: var(--orange);
}

header .gnb a.active:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  border-radius: 6px;
  background: var(--red);
}

/***************************** visual */
.visual {
  width: 100%;
  height: 100vh;
}

.visual .wrap {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/***************************** visual parallax */

.parallax {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.parallax .blue,
.parallax .gray,
.parallax .red {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax .blue {
  background: url('./img/particle_blue.png') no-repeat center;
}

.parallax .gray {
  background: url('./img/particle_gray.png');
}

.parallax .red {
  background: url('./img/particle_red.png');
}

/***************************** visual title */
.visual_title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.visual_title h1 {
  font-size: 100px;
  font-weight: 700;
  color: var(--orange);
}

.visual_title h1.stroke {
  color: #313131;
  -webkit-text-stroke: 3px var(--orange)
}

.visual_title h1 .dot {
  margin-left: 5px;
  color: var(--red);
}

/***************************** visual scroll */
.scroll {
  height: 50px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll .scroll_txt {
  font-size: 14px;
  color: #aaa;
  padding-bottom: 20px;
}

@keyframes upDown {
  10% {
    margin-top: 0px;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: 0px;
  }
}

.scroll .scroll_img {
  width: 16px;
  height: 8px;
  margin: 0 auto;
  background: url(./img/scrollArrow.png);
  animation: upDown 3s ease-out infinite alternate;
}

/***************************** about_me */
.about_me {
  width: 1100px;
  margin: 0 auto;
  margin-top: -70px;
  background: #fff;
  padding: 140px 0;
}

.about_me .wrap {
  text-align: center;
}

.about_me .tit_text {
  line-height: 30px;
  color: #999;
  font-size: 17px;
  font-weight: 500;
}

/***************************** works */
.works {
  margin: 0 auto;
  padding-bottom: 140px;
  background: #fff;
}

.works .sub_title {
  padding: 20px 0 50px 0;
}


/***************************** works project*/
.works .project_wrap {
  height: 900px;
  overflow: hidden;
}

.works .project_wrap:after {
  content: "";
  display: block;
  clear: both;
}

.works .project_wrap .project {
  float: left;
  width: 530px;
  height: 460px;
  padding: 80px 0 0 60px;
  box-sizing: border-box;
  font-weight: 500;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.works .project_wrap .project:nth-child(odd) {
  margin-bottom: 40px;
}

.works .project_wrap .project:nth-child(even) {

  float: right;
  margin-top: 40px;
}

.works .project_wrap .starbucks {
  background: #9c2236;
}

.works .project_wrap .touelesjoure {
  background: #53fd95;
  margin-top: 140px !important;
}

.works .project_wrap .nhn {
  background: #0011ac;
}

.works .project_wrap .kakao {
  background: #a2d8ce;
}

.works .project_wrap .project .verstion {
  font-size: 16px;
}

.works .project_wrap .project .project_title {
  padding: 20px 0 75px 0;
  font-size: 26px;
}

.works .project_wrap .project .project_img {
  display: block;
  width: 420px;
  height: 250px;
  box-shadow: 0 0 15px #333;
  position: absolute;
  bottom: 0;
}

/***************************** works project content_more_btn*/

.works .project_wrap .content_more_btn {
  width: 95%;
  height: 95%;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.works .project_wrap .content_more_btn:hover {
  opacity: 1;
  transition: 0.7s;
}

.works .project_wrap .content_more_btn .cont_link {
  display: block;
  width: 100%;
  height: 100%;
  background: #313131;
  opacity: 0.8;
}

.works .project_wrap .content_more_btn .more_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

/***************************** works section_more_btn*/
.works .section_more_btn {
  margin-top: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/***************************** footer*/

footer .contact {
  padding: 150px 0 100px 0;
  color: #fff;
  overflow: hidden;
}

footer .contact .contcat_title {
  float: left;
  width: 50%;
  margin-top: 20px;
  font-size: 32px;
}

footer .contact .contcat_title:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: var(--red);
  margin-bottom: 50px;
}

footer .contact .contact_wrap {
  float: left;
  width: 50%;
  font-size: 18px;
}

footer .contact .contact_wrap .contact_us .contcat_sub_title {
  display: block;
  font-weight: 700;
  margin-bottom: 30px;
}

footer .contact .contact_wrap .contact_us a {
  display: block;
  padding: 12px 0;
  color: var(--orange);
  text-decoration: underline;
}

footer .contact .contact_wrap .explore .contcat_sub_title {
  display: block;
  margin: 70px 0 40px 0;
  font-weight: 700;
}

footer .contact .contact_wrap .explore .navigation a {
  padding-right: 50px;
  color: #999;
}

footer .contact .contact_wrap .explore .navigation a:hover {
  text-decoration: underline;
}

footer .copy {
  width: 100%;
  border-top: 1px solid #444;
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 25px 0;
}